<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PromocodeStatusSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PromocodeStatusSoapBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="PromocodeStatusSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://crm1ctest.dyson.ru/CRM_TEST/ws/PromocodeStatus.1cws"
                binding="basicHttpBinding" bindingConfiguration="PromocodeStatusSoapBinding"
                contract="ServiceReference1.PromocodeStatusPortType" name="PromocodeStatusSoap" />
            <endpoint address="https://crm1ctest.dyson.ru/CRM_TEST/ws/PromocodeStatus.1cws"
                binding="customBinding" bindingConfiguration="PromocodeStatusSoap12Binding"
                contract="ServiceReference1.PromocodeStatusPortType" name="PromocodeStatusSoap12" />
        </client>
    </system.serviceModel>
</configuration>